@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.dark body {
  background-color: #111827;
  color: #F3F4F6;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1200px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: inherit;
}

p {
  margin: 0;
}

.flex-grow {
  flex-grow: 1;
}
